/* Global Stylization */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	min-height: 100vh;
	font-size: 62.5%;
	font-family: "Bitter", serif;
}

body {
	position: relative;
	height: 100%;
	font-size: 1em;
	line-height: 1.5;
}

h1 {
	font-family: "Macondo";
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.container {
	max-width: 160rem;
	width: 87.5%;
}

/* Header Stylization */
header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(220, 90%, 50%);
	color: white;
}

header > .container {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > .container > h1 {
	width: 50%;
	font-size: clamp(2.4em, 5.5vw + 0.2rem, 3.2em);
}

header > .container > nav {
	width: 50%;
}

header > .container > nav a {
	color: white;
}

header > .container > nav a:hover {
	color: hsl(34, 100%, 83%);
}

#main-menu {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: end;
}

#main-menu > li {
	width: 100%;
	margin: 1rem 0;
	position: relative;
}

#main-menu > li > a {
	display: block;
	text-align: right;
	width: 100%;
	font-size: clamp(1.6em, 3.45vw + 0.2rem, 2.4em);
}

#main-menu > li > a:hover {
	background-image: linear-gradient(
		to right,
		hsl(220, 90%, 20%, 0),
		hsl(220, 90%, 20%, 0) 10%,
		hsl(220, 90%, 20%, 0.5) 65%,
		hsl(220, 90%, 20%, 0)
	);
}

#products-submenu {
	padding: 0 1rem;
	display: none;
	position: absolute;
	top: 100%;
	right: 0;

	background-color: hsl(220, 90%, 50%);
	font-size: clamp(1.3em, 2.82vw + 0.2rem, 2em);
}

#products-submenu li {
	margin: 1.2rem 0;
}

#products-submenu li a {
	display: block;
	width: 100%;
	text-align: right;
}

#products-submenu li a:hover {
	color: hsl(34, 75%, 69%);
	background-image: linear-gradient(
		to right,
		hsl(210, 90%, 30%, 0),
		hsl(210, 90%, 30%, 0) 25%,
		hsl(210, 90%, 30%, 0.5) 75%,
		hsl(210, 90%, 30%, 0)
	);
}

#products-link:hover {
	cursor: pointer;
}

/* Main Stylization */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: hsl(0, 0%, 80%);
}

section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img-container {
	max-width: 70%;
}

.img-container img {
	width: 100%;
}

section h2 {
	margin-bottom: 4rem;
	padding-bottom: 1rem;
	color: hsl(220, 90%, 40%);
	font-family: "Oswald";
	font-size: clamp(2.4em, 4.6vw + 0.2rem, 3.1em);
	font-weight: bold;
	font-style: italic;
	border-bottom: 0.3rem solid hsl(220, 90%, 50%);
}

section h3 {
	font-family: "Raleway";
	font-weight: 800;
	font-size: clamp(2.2rem, 4.4vw + 0.2rem, 3em);
}

section h4 {
	font-size: clamp(1.4em, 2.817vw + 0.2rem, 2em);
}

section p {
	font-size: clamp(1.2em, 2.504vw + 0.2rem, 1.8em);
}

button {
	width: 70%;
	padding: 1rem 1.4rem;

	border: none;
	border-radius: 0.48rem;
	background-color: hsl(220, 90%, 50%);

	font-family: "Raleway";
	font-weight: bold;
	font-size: clamp(1.2em, 2.5039045vw + 0.2rem, 1.8em);
	color: white;
}

button:hover {
	cursor: pointer;
	background-color: hsl(220, 90%, 35%);
	border: 0.2rem solid hsl(225, 90%, 50%);
}

/* About Stylization */
.about > .container {
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
}

.about .img-container {
	max-width: 85%;
	margin-bottom: 4rem;
	align-self: center;
}

/* Products Stylization */
#products {
	margin-top: 4rem;
}

.one-product {
	margin: 3.6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

/* Footer */
footer {
	width: 100%;

	color: white;
	background-color: hsl(220, 90%, 50%);
}

footer {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer > .container {

	display: flex;
	flex-direction: column;
	align-items: center;
}

footer p {
	font-size: clamp(1em, 2.2vw + 0.2rem, 1.6em);
}

#footer-rights {
	margin-bottom: 2rem;
	width: 100%;
	text-align: center;
}

#footer-rights time {
	margin-left: 0.8rem;
}

#footer-rights time::after {
	margin: 0 1rem;
	content: "—";
}

#footer-rights a {
	font-size: 1.1em;
	text-decoration: none;
	transition: all 0.2s ease;
	&:visited {
		color: hsl(200, 80%, 80%);
	}
	&:link {
		color: hsl(177, 50%, 71%);
	}
	&:hover {
		cursor: pointer;
		color: hsl(230, 100%, 80%);
		transition: all 0.2s ease;
	}
	&:active {
		color: hsl(0, 70%, 60%);
	}
}

#footer-more-about-project {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#footer-more-about-project p {
	margin-right: 3.2rem;
	width: 100%;
	text-align: justify;
	text-indent: 3.4rem;
}

#footer-more-about-project button {
	padding: 1.5rem 1.6rem;
	max-width: 25rem;
	width: 60%;

	border: none;
	border-radius: 9999999rem;
	background-color: hsl(244, 100%, 50%);
	color: white;
	font-weight: 700;
	&:hover {
		cursor: pointer;
		background-color: hsl(244, 100%, 40%);
	}
}

@media screen and (min-width: 641px) {
	header > .container > h1 {
		width: 50%;
		font-size: clamp(3em, 4vw + 0.2rem, 4.2em);
	}

	header > .container > nav {
		width: 50%;
	}

	nav {
		max-width: 37rem;

	}

	#main-menu {
		flex-direction: row;
		justify-content: center;
	}

	#main-menu > li {
		width: 100%;
		margin: 0 0;
		position: relative;
	}

	#main-menu > li > a {
		text-align: right;
		font-size: clamp(2.4em, 3.43vw + 0.2rem, 3.2em);
	}

	#products-submenu {
		width: clamp(120%, 140% - 1vw, 140%);
		font-size: clamp(2em, 2.8vw + 0.2rem, 2.6em);
	}

	.img-container {
		max-width: 100%;
	}

	.about .img-container {
		max-width: 100%;
		margin-bottom: 4rem;
		align-self: center;
	}

	section h2 {
		font-size: clamp(3.1em, 4.5241888vw + 0.2rem, 4.15em);
	}

	section h3 {
		font-size: clamp(3rem, 4.3681826vw + 0.2rem, 3.8em);
	}

	section h4 {
		font-size: clamp(2em, 2.80812vw + 0.2rem, 3.2em);
	}

	section p {
		font-size: clamp(1.8em, 2.496107vw + 0.2rem, 2.7em);
	}

	#products {
		margin-bottom: 4rem;
	}

	#products .container:not(h2) {
		display: grid;
		grid-template-columns: repeat(2, 48%);
		grid-template-rows: repeat(2, auto);
		column-gap: 4%;
		row-gap: 4rem;
	}

	.one-product {
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	button {
		width: 100%;
		font-size: clamp(1.9em, 2.639291247vw + 0.2rem, 2.9em);
	}

	footer p {
		font-size: clamp(1.6em, 2.184095vw + 0.2rem, 2.2em);
	}

	#footer-more-about-project p {
		width: 100%;
		text-align: justify;
		text-indent: 3.4rem;
	}

	#footer-more-about-project button {
		max-width: 220rem;
		width: 100%;
	}
}

@media screen and (min-width: 1024px) {
	body .content-site {
		min-height: 100vh;
		display: grid;
		grid-template-rows: 0.5fr 9fr 1.1fr;
	}

	main {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.about {
		align-self: self-start;
	}

	.about > .container {
		display: grid;
		grid-template-columns: 34% 62%;
		grid-template-rows: repeat(3, auto);
		column-gap: 4%;
	}

	.about .img-container {
		align-self: self-start;
		grid-area: 1 / 1 / 4 / 2;
	}

	#products .container:not(h2) {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 1.2%;
	}

	.one-product {
		max-height: 75rem;
		display: grid;
		grid-template-rows: repeat(4, 1fr);
		align-items: center;
		gap: 1rem;
	}

	.one-product h4 {
		justify-self: center;
	}

	#footer-more-about-project p {
		width: 100%;
	}

	#footer-more-about-project button {
		max-width: 37rem;
		width: 100%;
	}
}

/* Modal with project goals */
#know-more {
	position: absolute;
	bottom: 50vh;
	left: 50%;
	transform: translate(-50%, 50%);

	display: none;
	flex-direction: column;

	max-width: 90%;
	max-height: 95vh;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 2rem 3rem;
	overflow-y: scroll;

	background-image: linear-gradient(25deg, hsl(220, 100%, 90%), hsl(220, 90%, 84%), hsl(220, 100%, 90%));
	box-shadow: 0 0 20rem 9rem rgb(109, 109, 109);
}

#know-more::-webkit-scrollbar {
	display: none;
}

#know-more section {
	margin-bottom: 4rem;
}

#know-more h2 {
	align-self: flex-start;
	padding-bottom: 0.2rem;
	margin: 4rem 0 2.4rem;
}

#know-more p {
	text-align: justify;
}

#know-more code {
	padding: 0.2rem 0.6rem;
	background-color: hsl(0, 0%, 75%, 0.4);

	font-family: "Chivo Mono";
	font-weight: 500;
	font-size: 1.02em;
	letter-spacing: 0.04rem;
}

#know-more .simple-words-code {
	font-weight: 100;
}

#know-more h3 {
	margin: 1.8rem 0 0.8rem;
	width: 100%;
	font-family: "Raleway";
	font-weight: 600;
	color: hsl(220, 90%, 30%);
}

#know-more li {
	margin: 1rem 0;
	text-align: justify;
	font-size: clamp(1.8em, 2.496107vw + 0.2rem, 2.7em);
}

#know-more ul,
#know-more ol {
	width: 100%;
	margin: 0 1rem 0 2.5rem;
}

#know-more ul li {
	list-style: disc;
	list-style-position: inside;
}

#know-more ol li {
	list-style: upper-latin;
	list-style-position: inside;
}

#know-more li::marker {
	font-weight: bold;
}

.back-option {
	max-width: 32rem;
	width: 50%;
	padding: 1rem 2rem;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.back-option:hover {
	border: none;
	background-color: hsl(220, 90%, 45%);
}

span.left-arrow {
	font-size: clamp(2em, 2.8vw + 0.2rem, 2.4em);
	margin-right: 2rem;
}
