@use "./../_variables" as *

.button
  padding: 12px
  font-size: 18px
  font-weight: bold
  text-decoration: none
  text-align: center
  white-space: nowrap

  &--primary
    color: $text-color
    background-color: $btn-primary-color

  @media (max-width: $md)
    display: flex
    align-items: center

  @media screen and (max-width: $sm)
    display: flex
    align-items: center
    width: 100%
