[submodule "modulo_24-orientacao-a-objetos-JS/modulo_24-orientacao-a-objetos-JS/pratica"]
	path = modulo_24-orientacao-a-objetos-JS/modulo_24-orientacao-a-objetos-JS/pratica
	url = https://github.com/FabioFelipeSantos/ebac-modulo-24.git
[submodule "modulo_24-orientacao-a-objetos-JS/pratica"]
	path = modulo_24-orientacao-a-objetos-JS/pratica
	url = https://github.com/FabioFelipeSantos/ebac-modulo-24.git
[submodule "modulo_25-recursos-ES6/pratica"]
	path = modulo_25-recursos-ES6/pratica
	url = https://github.com/FabioFelipeSantos/ebac-modulo-25.git
[submodule "modulo_26-conheca-o-typescript/pratica"]
	path = modulo_26-conheca-o-typescript/pratica
	url = https://github.com/FabioFelipeSantos/ebac-modulo-26.git
[submodule "modulo_28-introducao-react/ebac-modulo-28-intro-react"]
	path = modulo_28-introducao-react/ebac-modulo-28-intro-react
	url = https://github.com/FabioFelipeSantos/ebac-modulo-28-intro-react
[submodule "modulo_29-css-in-js-com-react/ebac-pratique-29"]
	path = modulo_29-css-in-js-com-react/ebac-pratique-29
	url = https://github.com/FabioFelipeSantos/ebac-modulo-29-styled-components-base_exercicio_css_in_js.git
