# Ignore the practice folders
modulo_7-DOM/pratica
modulo_8-projeto-2/pratica
modulo_9-conheca-jQuery/pratica
modulo_10-plugins-jQuery/pratica
modulo_11-css-responsivo/pratica
modulo_12-fundamentos-do-Bootstrap/pratica
modulo_12-fundamentos-do-Bootstrap/pratica/index.html
modulo_12-fundamentos-do-Bootstrap/pratica/style.css
modulo_12-fundamentos-do-Bootstrap/pratica/main.js
modulo_13-Bootstrap-avancado/pratica
modulo_13-Bootstrap-avancado/pratica/index.html
modulo_13-Bootstrap-avancado/pratica/style.css
modulo_13-Bootstrap-avancado/pratica/main.js
